body {
    background-color: black;
    color: #fff;
    display: flex;
    font-style: italic;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
    width: 1000px;

    h1 {
        font-size: 48px;
        width: 100%;
    }

    .tip {
        font-size: 20px;
        color: red;
    }
}

#hang {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    width: 450px;

    &.pic0 {
        background-image: url('./images/0.png');
    }
    &.pic1 {
        background-image: url('./images/1.png');
    }
    &.pic2 {
        background-image: url('./images/2.png');
    }
    &.pic3 {
        background-image: url('./images/3.png');
    }
    &.pic4 {
        background-image: url('./images/4.png');
    }
    &.pic5 {
        background-image: url('./images/5.png');
    }
    &.pic6 {
        background-image: url('./images/6.png');
    }
    &.pic7 {
        background-image: url('./images/7.png');
    }
    &.pic8 {
        background-image: url('./images/8.png');
    }
    &.pic9 {
        background-image: url('./images/9.png');
    }
    &.pic10 {
        background-image: url('./images/10.png');
    }
}

h2 {
    margin-bottom: 50px;

    strong {
        padding-left: 12px;
        letter-spacing: 10px;

    }
}

form {
    input {
        margin: 5px;
    }
}

button {
    border-radius: 5px;
    height: 30px;
    margin: 50px 0;
    width: 100px;
}
